*, *::before, *::after {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:#FFFFFF;
}

p {
    text-align: right;
    margin-right:1.5em;
    margin-top:.8em;
    font-size: 1.8rem;
}
.container {
    max-width:300px;
    min-height:300px;
    border:2px solid #E0E0E0;
    margin:10rem auto;
    display:flex;
    flex-direction: column;
}

.display {
    width:300px;
    height:100px;
    border-bottom:2px solid #E0E0E0;
}


line {
    display:flex;
    
}

button {
    background:#4A4A49;
    color:#FFFFFF;
    width:calc(100% / 5);
    max-width:300px;
    padding:2rem;
    outline:none;
    border:1px solid #E0E0E0;
    float:left;
    align-items: center;
    justify-content: center;
}

.side {
    width:98px;
}

button :hover {
    background-color: #4A4A49;
    cursor:pointer;
}



