*, *::before, *::after {
    box-sizing: border-box;
    font-weight:normal;
}

body {
    padding:0; 
    margin:0;
    background-color: lightgoldenrodyellow;
}

.calculator-grid {
    display:grid;
    min-height:100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px) ;
    grid-template-rows: minmax(120px, auto) repeat (5, 100px);
}

.calculator-grid > button {
    background-color: rgb(255, 255, 255);
    cursor:pointer;
    outline:none;
    border:1px solid black;
}
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color:rgba(0, 0, 0, 0.75);
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
    flex-direction:column;
    padding:10px;
    word-wrap:break-word;
    word-break:break-all;
    color:rgba(255,255,255, .9);
    font-size:2.5rem;
}

.calculator-grid > .clear{
    background-color: rgba(255, 0 ,0, .75);
}
.calculator-grid > .operators {
    background-color: rgba(0, 210, 100, .5);
}
.calculator-grid > .delete {
    background-color: rgba(0, 0, 255, .50);
}
.calculator-grid > .equal {
    background-color: rgba(0, 0, 255, .50);
}